{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
{% include 'partials/hero-section.html' %}
{% include 'partials/featured-shop.html' %}
<div class="trust-badges mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                <figure class="itemside">
                    <div class="aside text-center">
                        <span class="custom-icon">
                            <i class="fa-solid fa-truck"></i>
                        </span>
                    </div>
                    <figcaption class="info text-center">
                        <p class="title fs-5 mb-2 fw-bold">Fast Delivery</p>
                        <p class="text-muted">Same Day Shipping!</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-4">
                <figure class="itemside">
                    <div class="aside text-center">
                        <span class="custom-icon">
                            <i class="fa-regular fa-credit-card"></i>
                        </span>
                    </div>
                    <figcaption class="info text-center">
                        <p class="title fs-5 mb-2 fw-bold">Secure Payment</p>
                        <p class="text-muted">Payment System by Stripe.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-4">
                <figure class="itemside">
                    <div class="aside text-center">
                        <span class="custom-icon">
                            <i class="fa-solid fa-rotate-left"></i>
                        </span>
                    </div>
                    <figcaption class="info text-center">
                        <p class="title fs-5 mb-2 fw-bold">Free Returns!</p>
                        <p class="text-muted">Free returns on all products within 30 days! </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
{% endblock %}