<!-- Shop By Category div w/ category buttons -->
{% load static %}
<div class="container-fluid ib-container bg-ib-light px-3 px-md-4 py-4 py-md-5">
    <div class="row text-center">

        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mb-3">
            <h1 class="font-title weight-bold section-title text-dark-grey">SHOP BY CATEGORY</h1>
        </div>
        <!-- Category Buttons -->
        <div class="col-12 d-flex flex-wrap justify-content-center" id="category-links">
            <a class="text-decoration-none m-1" href="">
                <div class="bg-black category-button text-white d-flex flex-wrap align-items-center justify-content-center">
                    <p class="mb-3">HAIR WIGS</p>
                </div>
            </a>
            <a class="text-decoration-none m-1" href="">
                <div class="bg-black category-button text-white d-flex flex-wrap align-items-center justify-content-center">
                    <p class="mb-3">HAIR EXTENSIONS</p>
                </div>
            </a>
            <a class="text-decoration-none m-1" href="">
                <div class="bg-black category-button text-white d-flex flex-wrap align-items-center justify-content-center">
                    <p class="mb-3">PRODUCTS</p>
                </div>
            </a>
            <a class="text-decoration-none m-1" href="">
                <div class="bg-black category-button text-white d-flex flex-wrap align-items-center justify-content-center">
                    <p class="mb-3">EVENTS</p>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Featured Products -->
<div class="container-fluid ib-container bg-light-grey text-dark-grey px-3 px-md-4 py-5" id="products-div">
    
    <div class="row">

        <!-- Title -->
        <div class="col-12">
            <h1 class="font-title weight-bold section-title-lrg mb-2 text-center">FEATURED PRODUCTS</h1>
        </div>
    </div>

    <!-- Product Container -->
    <div class="row mt-3">
        <div class="product-container">

            <!-- Product Cards Container -->
            <div class="row pb-4">

                <!-- Product Card -->
                {% for product in products %}
                    {% if not product.discontinued and product.is_featured %}
                        <div class="col-md-6 col-lg-4 gy-3">
                            <div class="card shadow product-card h-100">
                                <div class="card-category-label mb-1 position-absolute">
                                    <a href="" class="font-body d-flex text-blue text-decoration-none align-items-center">
                                        <div class="bg-blue category-icon-circle-sm me-1">
                                            <i class="fas fa-{% if product.category.name == 'the_bees' %}bug{% elif product.category.name == 'the_kit' %}box-archive{% elif product.category.name == 'courses' %}graduation-cap{% elif product.category.name == 'produce' %}jar{% else %}shop{% endif %} text-ib-light text-center"></i>
                                        </div>
                                        <p class="font-title weight-semibold section-title text-uppercase">{{ product.category.friendly_name }}</p>
                                    </a>
                                </div>

                                <!-- Product Image -->
                                {% if product.image %}
                                    <a href="">
                                        <img class="image-ratio img-fluid" src="" alt="{{ product.name }}" onerror="this.onerror=null;this.src='{{ MEDIA_URL }}no_image.jpg'">
                                    </a>
                                {% else %}
                                    <a href="">
                                        <img class="image-ratio img-fluid" src="" alt="{{ product.name }}">
                                    </a>
                                {% endif %}

                                <!-- Product Name -->
                                <div class="card-body bg-ib-white pb-2">
                                    <h1 class="text-uppercase text-center font-body weight-semibold text-ib-dark">{{ product.name }}</h1>
                                </div>

                                <!-- Card Footer - Rating, Price & Edit/Delete -->
                                <div class="card-footer pt-0 pb-3">

                                    <div class="row">
                                        <div class="col-6 pe-0">

                                                <!-- Product Rating -->
                                                <div class="rating-div pe-0">
                                                    <span class="rating-hex-small rating-hex-{% if product.rating >= 1 %}true{% else %}false{% endif %}">&#x2B22;</span>
                                                    <span class="rating-hex-small rating-hex-{% if product.rating >= 2 %}true{% else %}false{% endif %}">&#x2B22;</span>
                                                    <span class="rating-hex-small rating-hex-{% if product.rating >= 3 %}true{% else %}false{% endif %}">&#x2B22;</span>
                                                    <span class="rating-hex-small rating-hex-{% if product.rating >= 4 %}true{% else %}false{% endif %}">&#x2B22;</span>
                                                    <span class="rating-hex-small me-1 rating-hex-{% if product.rating >= 5 %}true{% else %}false{% endif %}">&#x2B22;</span>
                                                </div>

                                        </div>

                                        <div class="col-6 ps-0 mt-auto d-flex justify-content-end">
                                            <!-- Product Price -->
                                            <div class=""><p class="card-price weight-semibold ib-lh-1 text-ib-dark">£{{ product.price }}</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>  
    </div>
</div>