{% load static %}
<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>SERVICE</h5>
        <ul class="nav flex-column" id="footer-links">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Customer Service</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Contact Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Returns</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>ABOUT US</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQ</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Policies</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>SHOP</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Hair Wigs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Hair Extensions</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Products</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Events</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <h5>Subscribe to our Newsletter</h5>
              <p>Monthly digest of what's new and exciting from us.</p>
        <div id="mc_embed_shell" class="d-flex justify-content-center flex-wrap">
          <div id="mc_embed_signup">
              <form
                  action="https://herokuapp.us21.list-manage.com/subscribe/post?u=9578948f3ccf0308ede4bdb1e&amp;id=f0a8e6ba48&amp;f_id=00fdede6f0"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                  target="_blank">
                  <div id="mc_embed_signup_scroll">
                      <div class="mc-field-group">
                          <input type="email" name="EMAIL" class="required email form-control" placeholder="Email*"
                              id="mce-EMAIL" required="" value="">
                          <label for="mce-EMAIL" class="form-label">
                          </label>
                          <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                      </div>
                      <div id="mce-responses" class="clear foot">
                          <div class="response" id="mce-error-response" style="display: none;"></div>
                          <div class="response" id="mce-success-response" style="display: none;"></div>
                      </div>
                      <div aria-hidden="true" style="position: absolute; left: -5000px;">
                          /* real people should not fill this in and expect good things - do not remove this or risk form bot
                          signups */
                          <input type="text" name="b_9578948f3ccf0308ede4bdb1e_f0a8e6ba48" tabindex="-1" value="">
                      </div>
                      <div class="optionalParent">
                          <div class="clear foot">
                              <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                                  value="Subscribe">
                              <p style="margin: 0px auto;"><a target="_blank" rel="noopener" href="http://eepurl.com/iE4wCA"
                                      title="Mailchimp - email marketing made easy and fun"><span
                                          style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                              class="refferal_badge"
                                              src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-light.svg"
                                              alt="Intuit Mailchimp"
                                              style="height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                              </p>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2024 Hair Hotty. All rights reserved.</p>
      <ul class="list-unstyled d-flex" id="social-links">
        <li class="ms-3">
          <a href="https://www.facebook.com/profile.php?id=61554036458390" target="_blank" rel="noopener"
          class="me-4 text-reset text-white" aria-label="Link to Facebook">
          <i class="fab fa-facebook-f"></i>
          </a></li>
        <li class="ms-3"><a href="https://www.instagram.com/" target="_blank" rel="noopener" class="me-4 text-reset" aria-label="Link to Instagram">
          <i class="fab fa-instagram"></i>
        </a></li>
        <li class="ms-3"><a href="https://www.pinterest.com/" target="_blank" rel="noopener" class="me-4 text-reset" aria-label="Link to Pinterest">
          <i class="fab fa-pinterest"></i>
      </a></li>
      </ul>
    </div>
  </footer>
</div>