{% load static %}
<header class="container-fluid">
    <div id="delivery-banner" class="row text-center">
        <div class="col bg-black text-white">
            <h4 class="logo-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>
        </div>
    </div>
    <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
            <a href="{% url 'home' %}" class="nav-link">
                <img src="{% static 'images/logo.png' %}" alt="Image of an open book" class="logo-img">
            </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="">
                <div class="input-group w-100">
                    <input class="form-control border mx-1 rounded-0" type="text" name="q" placeholder="Hunt for goodies...">
                    <div class="input-group-append">
                        <button class="form-control btn btn-orange" type="submit" aria-label="search">
                            <span class="search-icon text-white">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="account-options" aria-haspopup="true" aria-expanded="false"
                        data-bs-toggle="dropdown">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg" aria-hidden="true"></i></div>
                            <p class="my-0">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="account-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">Admin</a>
                        {% endif %}
                        <a href="" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item">
                    <a class="text-orange font-weight-bold nav-link" href="">
                        <div class="text-center">
                            <div><i class="fas fa-shopping-bag fa-lg" aria-hidden="true"></i></div>
                            <p class="my-0">
                                {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                                {% else %}
                                €0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row px-3">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler collapsed" type="button" aria-controls="main-nav" aria-expanded="false"
                aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target="#main-nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item">
                    <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" aria-haspopup="true" aria-expanded="false"
                        data-bs-toggle="dropdown">
                        <div class="text-center">
                            <div><i class="fas fa-search fa-lg" aria-hidden="true"></i></div>
                            <p class="my-0">Search</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                        <form class="form" method="GET" action="">
                            <div class="input-group w-100">
                                <input class="form-control border rounded-0" type="text" name="q" placeholder="Hunt for books..">
                                <div class="input-group-append">
                                    <button class="form-control btn btn-orange" type="submit">
                                        <span class="search-icon text-white">
                                            <i class="fas fa-search" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" aria-haspopup="true" aria-expanded="false"
                        data-bs-toggle="dropdown">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg" aria-hidden="true"></i></div>
                            <p class="my-0">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">Admin</a>
                        {% endif %}
                        <a href="" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item">
                    <a class="text-orange font-weight-bold nav-link d-block d-lg-none" href="">
                        <div class="text-center">
                            <div><i class="fas fa-shopping-bag fa-lg" aria-hidden="true"></i></div>
                            <p class="my-0">
                                {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                                {% else %}
                                €0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="navbar-collapse collapse" id="main-nav">
                <ul class="navbar-nav w-auto mx-auto">
                    <li class="nav-item d-block d-md-none">
                        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                            Home
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" aria-haspopup="true"
                            aria-expanded="false" data-bs-toggle="dropdown">Hair Wigs</a>
                        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                            <a href="" class="dropdown-item">All Books</a>
                            <a href="" class="dropdown-item ">By Author</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fiction-link" aria-haspopup="true"
                            aria-expanded="false" data-bs-toggle="dropdown">Hair Extensions</a>
                        <div class="dropdown-menu border-0" aria-labelledby="fiction-link">
                            <a href="" class="dropdown-item">Historical Fiction</a>
                            <a href="" class="dropdown-item ">Horror</a>
                            <a href="" class="dropdown-item ">Fantasy</a>
                            <a href="" class="dropdown-item ">Fantasy Romance</a>
                            <a href="" class="dropdown-item">All Fiction</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="non-fiction-link" aria-haspopup="true"
                            aria-expanded="false" data-bs-toggle="dropdown">Products</a>
                        <div class="dropdown-menu border-0" aria-labelledby="non-fiction-link">
                            <a href="" class="dropdown-item">Biography</a>
                            <a href="" class="dropdown-item ">History</a>
                            <a href="" class="dropdown-item ">Computing, IT</a>
                            <a href="" class="dropdown-item ">Automotive</a>
                            <a href="" class="dropdown-item ">Cookery</a>
                            <a href="" class="dropdown-item">All Non-Fiction</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="children-link" aria-haspopup="true"
                            aria-expanded="false" data-bs-toggle="dropdown">Events</a>
                        <div class="dropdown-menu border-0" aria-labelledby="children-link">
                            <a href="" class="dropdown-item">Toddler</a>
                            <a href="" class="dropdown-item ">Teenage</a>
                            <a href="" class="dropdown-item">All Children</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" aria-haspopup="true"
                            aria-expanded="false" data-bs-toggle="dropdown">
                            Special Offers
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                            <a href="" class="dropdown-item">New Arrivals</a>
                            <a href="" class="dropdown-item">Deals</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>