{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">

                    <!-- Product Image -->
                    {% if product.image %}
                        <a class="" href="{{ product.image.url }}" target="_blank">
                            <img class="image-ratio img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}" onerror="this.onerror=null;this.src='{{ MEDIA_URL }}no_image.jpg'">
                        </a>
                    {% else %}
                        <img class="image-ratio img-fluid" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ product.name }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">

                    <!-- Product Name -->
                    <h3 class="product-page-name text-uppercase weight-semibold text-break">{{ product.name }}</h3>

                    <!-- Product Category -->
                    {% if product.category %}
                        <a href="{% url 'products' %}?category={{ product.category.name }}" class="category-badge mt-3 d-flex text-decoration-none align-items-center">
                            <span class="p-2 weight-semibold text-uppercase badge badge-white text-black rounded-0 border border-dark">{{ product.category.friendly_name }}</span>
                        </a>
                    {% endif %}

                    <!--Product Price -->
                    <p class="product-page-price weight-semibold mt-3" style="font-size: 24px; font-weight: 700;">
                        ${{ product.price }}</p>

                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.has_sizes as s %}
                            {% if s %}
                                <div class="col-12">
                                    <p><strong>Size:</strong></p>
                                    <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                        <option value="xs">XS</option>
                                        <option value="s">S</option>
                                        <option value="m" selected>M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                    </select>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                </div>
                            </div>
                            <!-- Buttons -->
                            <div class="my-4 pt-2 pt-md-4 d-flex">

                                <!-- Keep Shopping Button -->
                                <a href="{% url 'products' %}" class="btn btn-gray text-decoration-none weight-bold shadow-sm">
                                    <i class="fas fa-chevron-left d-inline me-1" style="color: #fff;"></i>
                                    <p class="d-inline">BACK TO SHOP</p>
                                </a>

                                <!-- Add to Bag (Submit) Button -->
                                <button type="submit" class="btn btn-orange text-decoration-none weight-bold ms-3 shadow-sm">ADD TO BAG <i class="fas fa-shopping-bag fa-lg" aria-hidden="true"></i></button>
                            </div>
                            
                           
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
      <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Reviews:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for review in reviews %}
        <div class="p-2 comments">
          <p class="font-weight-bold">
            {{ review.user }}
            <span class="font-weight-normal">
              {{ review.created_on }}
            </span> wrote:
          </p>
          <div id="review{{ review.id }}">
            {{ review.content | linebreaks }}
          </div>
          <div class="row font-body review-content">
            <p>{{ review.content }}</p>
          </div>
          {% if user.is_authenticated and review.user == user %}
          <button class="btn btn-delete"review_id="{{ review.id }}">Delete</button>
          <button class="btn btn-edit" review_id="{{ review.id }}">Edit</button>
          {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>
    <!-- Creating New Comments -->
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Leave a review:</h3>
        <div class="col-12">
          <a href="{% url 'add_review' product.id %}" class="ib-button ib-button-yellow text-decoration-none text-dark-grey font-title weight-bold shadow-sm">
              ADD REVIEW
          </a>
      </div>
        <p>Posting as: {{ user.username }}</p>
        <form id="reviewForm" method="post"
          style="margin-top: 1.3em;">
          {{ review_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit"
            class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <!--Log in to leave a comment as link to login page-->
        <a class="link" href="{{ login_url }}">Login to leave a review</a> 
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete review?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your review?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
